@import '../dist/style.css'
@import '../node_modules/bootstrap/scss/bootstrap.scss'

.image
    background: url("../git_bootstrap_les_chefs/images/bottom_decoration_img.png") repeat-x bottom,linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../git_bootstrap_les_chefs/images/banner1.jpg")
    height: 800px
    
.barre
    border-top: solid 1px #fff
    border-bottom: solid 1px #fff
  
    margin-top: 20px

.ligne
    text-align: center
   
    margin-top:20px
    
.milieutext
    text-align: center
    font-family: 'Courgette', cursive
    font-size: 60px
    margin-top: 100px

.grand
    font-size: 75px

.bouton
    margin:50px

.mot
    font-size: 10px

.fond
    background: url('../git_bootstrap_les_chefs/images/main_bg.jpg') 
    height: 1710px

.imgfond
    background: black
    height: 650px

.fondtable
    background-image: url('../git_bootstrap_les_chefs/images/main_bg.jpg')
    height: 1573px
.ecran
    border: solid 1px #929ba5

.police
    font-family: 'Courgette', cursive
    font-size: 60px
    
.cote
    margin-left: 69px



.our
    font-size: 50px
    font-family: 'Courgette'

.icone
    margin-bottom: 85px

.longtext
    font-size: 20px


.break
    font-family: 'Courgette'
.logo
   
    font-size: 60px
    color: #8d8f90
.tasse
    margin-left:30px
.imgcafe
    height: 120px
    border: 5px solid
    border-color: #cccccc

.prix
    background-color: #f3f3f3
    margin-top: 25px
.textp
    font-size: 0.80rem

.ligne
    border-bottom: dotted 1px
    border-color: grey 
.list-group
    border-bottom: solid 1px #929ba5
    
.litasse
    border-right: solid 5px red
.liligne
    border-right: solid 1px #929ba5
.plan
    padding-left: 450px

.lignebas
    border-bottom: solid 1px #ffffff
.booktable
    background: url('../git_bootstrap_les_chefs/images/book_table_bg.jpg')
    border-radius: 30px
    height: 500px
.formul 
    border-radius: 0.25rem

.formu2
    text-align: center !important
.button
    border-radius: 30px
.buton
    padding-left: 325px

.images2
    border-radius: 24px
    border: solid 3px #bec7d0
    width: 400px    

.alert-danger
    background-color: #d83c3c !important
    margin-left: 165px
    margin-right: 27px !important
    border-radius: 1.25rem
    margin-top: -19px
.text2
    font-size: 15px
    text-align: center !important
.taille
    font-size: 30px
.droite
    margin-left: 28px
    margin-right: 164px !important
.nom
    font-size: 20px
    padding-right: 264px
.nom2
    font-size: 15px
    padding-right: 0px
    padding-left: 152px
.nom4
    font-size: 15px
    padding-left: 38px
.nom3
    padding-left: 38px
    font-size: 20px
.button2
    border-radius: 30px
    margin-left: 252px